<div class="page-header">
  <%= link_to side_effects_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New side_effect</h1>
</div>

<%= render 'form' %>
