<div class="row search-doctor">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="glyphicon glyphicon-search big-search-icon"></span>Find a doctor</h1>

    <%= form_for search_index_path, method: :get do |f| %>
        <p>
          <%= text_field_tag :q, params[:q], class: 'search-field typeahead', autocomplete: 'off' %>
          <%= submit_tag "Go", name: nil, class: 'search-btn' %>
        </p>
        <h4>
          <small> ... you can search by Name, Specialty, Location or anything you want!</small>
        </h4>
    <% end %>
  </div>

  <div class="col-sm-8 col-sm-offset-2 mt20">
    <ul class="list-group">
      <% @doctors.each do |doctor| %>
          <li class="list-group-item minimal-doctor-profile">
            <%= render partial: 'parts/minimal_doctor_profile', locals: {user: doctor} %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
