<div class="panel panel-default appointments">
  <div class="panel-heading">
    <h3 class="panel-title">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn btn-default">Upcoming Appointments</button>
        </div>
      </div>
    </h3>
  </div>
  <div class="panel-body appointments-list">
    Appointments List
  </div>
</div>