<div class="panel panel-default recommendations">
  <div class="panel-heading">
    <h3 class="panel-title">Recommendations</h3>
  </div>
  <div class="panel-body recommendations-list">
    <div class="alert alert-info" role="alert">Please check you bp!</div>
    <div class="alert alert-info" role="alert">Time for medicine!</div>
    <div class="alert alert-info" role="alert">Green Tea is good...</div>
  </div>
</div>