<div class="panel panel-default reports">
  <div class="panel-heading">
    <h3 class="panel-title">Your Reports</h3>
  </div>
  <div class="panel-body reports-list">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <td>23.10.2014</td>
          <td>Blood Test</td>
        </tr>
        <tr>
          <td>22.10.2014</td>
          <td>ECG Test</td>
        </tr>
        <tr>
          <td>21.10.2014</td>
          <td>Arsenic Test</td>
        </tr>
      </table>
    </div>
  </div>
</div>