<div class="row patients-records">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">
          <h3>Current Health Conditions</h3>
          <button class="btn btn-default pull-right">
            <i class="glyphicon glyphicon-plus"></i>
            Add
          </button>
        </span>
      </div>
      <div class="panel-body problems-list">
        <% if @problems.present? %>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Problem Name</th>
                  <th>Details</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                <%= content_tag_for(:tr, @problems) do |problem| %>
                    <td><%= problem.name %></td>
                    <td><%= problem.details %></td>
                <% end %>
                </tbody>
              </table>
            </div>
        <% else %>
            <i>No health condition added.</i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">
          <h3>Prescriptions</h3>
        </span>
      </div>
      <div class="panel-body prescription-list">
        <% if @prescriptions.present? %>
            <ul>
              <% @prescriptions.each do |prescription| %>
                  <li>
                    <%= link_to "#{prescription.appointment.date} - #{prescription.appointment.doctor.full_name}", prescription_path(prescription.id) %>
                  </li>
              <% end %>
            </ul>
        <% else %>
            <i>No prescriptions found.</i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">
          <h3>Test Reports</h3>
          <!--<button class="btn btn-default pull-right disabled">-->
            <!--<i class="glyphicon glyphicon-plus"></i>-->
            <!--Upload-->
          <!--</button>-->
        </span>
      </div>
      <div class="panel-body test-reports-list">
        <i>No test reports found.</i>
      </div>
    </div>
  </div>
</div>
