<div class="panel panel-default reports">
  <div class="panel-heading">
    <h3 class="panel-title">Your Patients</h3>
  </div>
  <div class="panel-body reports-list">
    <% if connected_patients.present? %>
        <div class="table-responsive">
          <table class="table table-hover">
            <tr>
              <th>Patient</th>
              <th>Reason</th>
              <th>Last Visited</th>
            </tr>

            <% connected_patients.each do |patient| %>
                <% last_appointment = current_user.last_appointment_with(patient) %>
                <tr>
                  <td><%= patient.full_name %></td>
                  <td><%= truncate(last_appointment.reason, length: 20) %></td>
                  <td><%= last_appointment.date %></td>
                </tr>
            <% end %>
          </table>
        </div>
    <% else %>
      <i>You haven't visited any patients yet!</i>
    <% end %>
  </div>
</div>