<div class="panel panel-default recommendations">
  <div class="panel-heading">
    <h3 class="panel-title">To-Do List</h3>
  </div>
  <div class="panel-body recommendations-list">
    <div class="alert alert-info" role="alert">Update Mr. X's Prescription!</div>
    <div class="alert alert-info" role="alert">Watch Lorem's Prescription!</div>
    <div class="alert alert-info" role="alert">Update Kabir's Prescription!</div>
  </div>
</div>